@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  background: #25ccf7;
  font-size: 15px;
  color: #777;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
#login-box {
  position: relative;
  margin: 5% auto;
  height: 500px;
  width: 900px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 6);
}
.container {
  position: absolute;
  top: 10;
  left: 10;
  box-sizing: 100px;
  padding: 40px;
  width: 800px;
  height: 800px;
}
h1 {
  margin: 0 0 40px 0;
  font-weight: 300;
  font-size: 30px;
}
input[type='text'] {
  display: block;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  outline: none;
  border-bottom: 1px solid #aaa;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}
input[type='submit'] {
  margin-bottom: 28px;
  width: 120px;
  height: 32px;
  background: #055af8;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: sans-serif;
  text-transform: uppercase;
  transition: 0, 2s ease;
  cursor: pointer;
}
input[type='submit']:hover,
input[type='submit']:focus {
  background: #25ccf7;
  transition: 0.2s ease;
}
